{% extends "parent.html" %}
{% block content %}

<br>
<br>
<div class="container">
    
    <!-- introduction -->
    <div class="row">
        <div class="col-md-7" id="russ-plot"></div>
    </div>

    <!-- more info -->
    <br>
    <div class="row">
        <div class="col-md-12 main-summary">
            <h1>The History of the USS Russell</h1>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
               "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
               "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
               "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        </div>
    </div>

    <!-- add contributors -->
    <br>
    <br>
    <div class="row">
        <div class="col-md-12 contributors">
            <h1>Author</h1>
            <p> David Vance </p>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-md-12 citations">
            <h1>Citations</h1>
            <ul>
                <li><a href="https://www.amazon.com/Survivor-USS-Russell-World-Destroyer/dp/1475242204">Book: Survivor - USS Russell - A World War Two Destroyer</a>
                    <li> Barry Friedman, Medical Officer aboard the USS Russell from 1943 to 1945. </li>
                </li>
                <br>
                <li><a href="https://www.navalcovermuseum.org/wiki/RUSSELL_DD_414">Naval Museum</a>
                    <!-- <li>Steven Bird, Edward Loper, and Ewan Klein. <i>Natural Language Processing with Python.</i> O’Reilly Media Inc. (2009).</li> -->
                </li>
                <br>
                <li><a href="https://destroyerhistory.org/goldplater/ussrussell/">Destroyer History site</a>
                    <!-- <li>Mark C. Bailey (2019).</li> -->
                </li>
                <br>
                <li><a href="https://en.wikipedia.org/wiki/USS_Russell_(DD-414)">Wikipedia</a>
                    <!-- <li>National Research Council Canada (2016).</li> -->
                <li><a href="https://www.history.navy.mil/research/histories/ship-histories/danfs/r/russell.html">Navy.mil History</a>
                    <!-- <li>National Research Council Canada (2016).</li> -->
                </li>
            </ul>
        </div>
    </div>


    
    

</div>
<script>
    Plotly.newPlot("russ-plot", {{ fig | safe }})
</script>


{% endblock %}