{% extends "parent.html" %}
{% block content %}

<br>
<br>
<div class="container">
    
    <!-- introduction -->
    <div class="row">
        <div class="col-md-7" id="scroll-gif">
            <img class="img-fluid rounded float-left" src="../static/img/scroll.gif">
        </div>
        <div class="col-md-5 main-summary">
            <p>Over the past several years, there has been a visceral shift in news consumption for many people from regular morning and evening news broadcasts to a 24-hour news cycle. Terms such as <a href="https://www.npr.org/2020/07/19/892728595/your-doomscrolling-breeds-anxiety-here-s-how-to-stop-the-cycle" target="_blank">Doomscrolling</a> and <a href="https://www.washingtonpost.com/news/inspired-life/wp/2017/02/06/suffering-from-headline-stress-disorder-since-trumps-win-youre-definitely-not-alone/" target="_blank">Headline Stress Disorder</a> popped up as a way to explain how people continue to be affected by the constant bombardment of new information and breaking stories. People have feelings about the news, but our question is: does the news itself project a particular feeling? </p>
            <p>With data gathered from the New York Times Archives API, we analyzed over 50,000 news articles covering a full 3-year span, from 2015 to 2017. Natural Language Processing was used to examine sentiment across time, categories of news, and geographic locations. You can explore the data through visualizations, search through articles by keyword, and test the sentiment of your own news headline!</p>
        </div>
    </div>

    <!-- more info -->
    <br>
    <div class="row">
        <div class="col-md-12 main-summary">
            <h1>The history of the USS Russell</h1>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        </div>
    </div>

    <!-- add contributors -->
    <br>
    <br>
    <div class="row">
        <div class="col-md-12 contributors">
            <h1>Contributors</h1>
            <p> David Vance </p>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-md-12 citations">
            <h1>Citations</h1>
            <ul>
                <li><a href="https://www.amazon.com/Survivor-USS-Russell-World-Destroyer/dp/1475242204">Book: Survivor - USS Russell - A World War Two Destroyer</a>
                    <li> Barry Friedman, Medical Officer aboard the USS Russell from 1943 to 1945. </li>
                </li>
                <br>
                <li><a href="https://www.navalcovermuseum.org/wiki/RUSSELL_DD_414">Naval Museum</a>
                    <!-- <li>Steven Bird, Edward Loper, and Ewan Klein. <i>Natural Language Processing with Python.</i> O’Reilly Media Inc. (2009).</li> -->
                </li>
                <br>
                <li><a href="https://destroyerhistory.org/goldplater/ussrussell/">Destroyer History site</a>
                    <!-- <li>Mark C. Bailey (2019).</li> -->
                </li>
                <br>
                <li><a href="https://en.wikipedia.org/wiki/USS_Russell_(DD-414)">Wikipedia</a>
                    <!-- <li>National Research Council Canada (2016).</li> -->
                <li><a href="https://www.history.navy.mil/research/histories/ship-histories/danfs/r/russell.html">Navy.mil History</a>
                    <!-- <li>National Research Council Canada (2016).</li> -->
                </li>
            </ul>
        </div>
    </div>


    
    

</div>



{% endblock %}